# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a2d434d12c1d9819739846d
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a2d434d12c1d9819739846d
